@import url('https://fonts.googleapis.com/css2?family=Reddit+Mono:wght@200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Reddit+Mono:wght@200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Reddit+Mono:wght@200..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');



* {
padding: 0;
margin: 0;
box-sizing: border-box;
}

links {
 text-decoration: none;
 color: inherit;

}

header {
  background-color: #8B7E7E;
  color: #fff;
  justify-content: center;
  padding: 2px;
}

.headNav {
  display: flex;
  justify-content: space-between;
  width: 100;
}

  #search {
    width: 20px;
    margin-left: 10px;
  }
 
 /* Logo of Web */

  .logo {
  text-align: center;
  font-family: 'Urbanist';
  font-size: 18px;
  display: inline;
  padding: 5px;
  margin-left: 110px;
  margin-bottom: 5px;

}

 
#cart {
  width: 40px;
  height: 40px;
  float: left;
  margin-top: 0;
}

/* Lower Navigation Area (Women, Men, Fashion, etc) */

.navbar ul {
  list-style-type: none;
  text-align: center;
  margin-bottom: 2px;
  
}

.navbar ul li {
  display: inline;
}

.navbar ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 25px;
  margin-left: 25px;
  font-style: bold;

  

}

.navbar ul li a:hover {
  background-color: #555;
}


/* Upper Navigation Area*/


.navbars ul {
  list-style-type: none;
  text-align: right;
  

}

.navbars ul li {
  display: inline;
}

.navbars ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  margin-left: 15px;
 
}

.navbars ul li a:hover {
  background-color: #555;
}

/* End of Header */




/* Start of Body */


body {
  background-color: #F1E7DE;
}

/* Border Box */

.box {
  border: 0.5px solid #F4F1F1;
  width: 90%;
  height: 250px;
  margin-top: 15px;
  box-sizing: border-box;
  margin-left: 5%;
  background-color: #F4F1F1;
  

}

 

.text {
  font-family: 'Roboto',  bold;
  font-size: 35px;
  margin-top: 80px;
  margin-right: 37px;
  float: right;
}


#wave {
   width: 650px;
   height: 250px;
}



/* End Of Border Box */



/* Start of Product List */


.gallery {
  display: inline-block;
  align-items: center;
 

}

.gallery .description {
  padding: 10px; 
  align-items: left;
  margin-left: 60px;
  margin-bottom: 50px;
  align-items: center;
 
  
}


.gallery img {
  width: 200px;
  height: 270px;
  margin-top: 70px;
  margin-left: 70px;
  border: 1px solid black;
  align-items: center;

 
}

.description {
  padding: 0px;
  font-family: 'Roboto';
  font-style: bold;
  font-size: 15px;
  text-align: center;
}

.description br {

  margin-top: 50px;
}

/* End of Product List */


/* Start of Footer */

footer {
  text-align: center;
  font-size: 40px;
  font-family:  'Roboto';
  margin-top: 20px;
  margin-bottom: 50px;
  
}